:root {
  --font-size-root: 100%;
  --space-md: 2rem;
  --font-size-header: 2rem;

  // font definitions
  --font-family-default: "Roboto", sans-serif;
  --font-family-header: "Limelight", sans-serif;
  --font-family-horror: "Metal Mania", system-ui;
  --font-family-scifi: "Lekton", monospace;
  --font-family-noir: "Special Elite", system-ui;
  
}