@use './tokens';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  font-family: var(--font-family-default);
}

body {
  margin: 0;
}

main {
  padding: 32px;
}

header {
  position: sticky;
  min-height: 80px;
  font-size: 2rem;
  font-family: var(--font-family-header);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
