@use '../../../styles/tokens';
.button {
  background-color: tokens.$default-theme-primary-a20;
  color: tokens.$default-theme-light-a0;
  padding: 0.5rem;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  cursor: pointer;

  &--round {
    border-radius: 999px;
  }

  &--square {
    border-radius: 0;
  }

  &--icon-only {
    aspect-ratio: 1;
    padding: 0.5rem;
    flex-shrink: 0;
    align-self: center;
    width: 2.5rem;
    height: auto;
  }

  svg {
    display: block;
  }

  &:hover:not(:disabled) {
    background-color: tokens.$default-theme-primary-a0;
    box-shadow: 0 6px 16px rgb(0 0 0 / 0.55);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}