@use '../../../styles/tokens';

.details-page {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 2fr auto;
  gap: 32px 32px;
  grid-template-areas: 
    'poster description'
    'additional-details additional-details';
}

.details-style {
  font-family: tokens.$font-family-default;
 
  &--scifi {
    font-family: tokens.$font-family-scifi;
  }

  &--horror {
    font-family: tokens.$font-family-horror;
  }

  &--thriller {
    font-family: tokens.$font-family-thriller;
  }

  img {
    grid-area: poster;
  }
}